<ion-view view-title="Approvals" style="text-align:center">
  <ion-content style="background-color:#ffffff;">
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">                    
                     <div class="col" align="center">
                        <a href="#/app/leave-approvals"><img src="img/leave.png" /></a>
                        <br />Leave                    
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/attendance-approvals"><img src="img/Attendance.png" /></a>
                        <br />Attendance
                    </div>
                     <div class="col" align="center">
                                        
                    </div>
                </div>

                
		    </div>
             
          </div>
  </ion-content>
</ion-view>