<ion-view view-title="Attendance" style="text-align:center">
  <ion-content style="background-color:#ffffff;">
    <div>
        <div class="row">
            <div class="col">
                <select class="browser-default select">
                <option value="" disabled selected>April</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September </option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                </select>     
            </div>
            <div class="col">
                <select class="browser-default select">
                <option value="" disabled selected>2017</option>
                <option value="1">2015</option>
                <option value="2">2016</option>
                <option value="3">2017</option>
                </select>     
            </div>
        </div>
        <div class="row" style="margin-bottom:-5px;">
            <div class="cal-arrow1"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
            <div class="cal-arrow-space"></div>
            <div class="cal-arrow1" style="float:right"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
        </div>
         <div class="cal-row" >
            <div class="cal-arrow"></div>
            <div class="cal-week-days">S</div>
            <div class="cal-week-days">M</div>
            <div class="cal-week-days">T</div>
            <div class="cal-week-days">W</div>
            <div class="cal-week-days">T</div>
            <div class="cal-week-days">F</div>
            <div class="cal-week-days" style="border-right: solid 1px #ccc;" >S</div>
            <div class="cal-arrow" style=" border-right:solid 1px #ccc;"></div>
        </div>
        <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">26</div>
            <div class="cal-week-days-mumbers-disable">27</div>
            <div class="cal-week-days-mumbers-disable">28</div>
            <div class="cal-week-days-mumbers-disable">29</div>
            <div class="cal-week-days-mumbers-disable">30</div>
            <div class="cal-week-days-mumbers-disable">31</div>
            <div class="cal-week-days-holiday">1</div>
            <div class="cal-ch"></div>
         </div>

         <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">2</div>
            <div class="cal-attendance"><div class="grad cal-darkgreen-circle">3</div></div>
            <div class="cal-attendance"><div class="grad cal-green-circle">4</div></div>
            <div class="cal-attendance"><div class="grad cal-orange-circle">5</div></div>
            <div class="cal-attendance"><div class="grad cal-red-circle">6</div></div>
            <div class="cal-attendance"><div class="grad cal-purple-circle">7</div></div>
            <div class="cal-week-days-holiday">8</div>
            <div class="cal-ch"></div>
         </div>   
         <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">9</div>
            <div class="cal-attendance"><div class="grad cal-red-circle">10</div></div>
            <div class="cal-attendance"><div class="grad cal-orange-circle">11</div></div>
            <div class="cal-attendance"><div class="grad cal-green-circle">12</div></div>
            <div class="cal-attendance"><div class="grad cal-red-circle">13</div></div>
            <div class="cal-attendance"><div class="grad cal-green-circle">14</div></div>
            <div class="cal-week-days-holiday">15</div>
            <div class="cal-ch"></div>
         </div>   
         <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">16</div>
            <div class="cal-attendance"><div class="grad cal-orange-circle">17</div></div>
            <div class="cal-attendance"><div class="grad cal-purple-circle">18</div></div>
            <div class="cal-attendance"><div class="grad cal-green-circle">19</div></div>
            <div class="cal-attendance"><div class="grad cal-red-circle">20</div></div>
            <div class="cal-attendance"><div class="grad cal-darkgreen-circle">21</div></div>
            <div class="cal-week-days-holiday">22</div>
            <div class="cal-ch"></div>
         </div>    
         <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">23</div>
            <div class="cal-attendance"><div class="grad cal-red-circle">24</div></div>
            <div class="cal-attendance"><div class="grad cal-darkgreen-circle">25</div></div>
            <div class="cal-attendance"><div class="grad cal-green-circle">26</div></div>
            <a href="#/app/regularization">
            <div class="cal-attendance"><div class="grad cal-red-circle">27</div></div>
            </a>
            <a href="#/app/attendance-view">
            <div class="cal-attendance"><div class="grad cal-orange-circle">28</div></div>
            </a>
            <div class="cal-week-days-holiday">29</div>
            <div class="cal-ch"></div>
         </div>  
         <div class="cal-row" style="margin-left: 1%;">
            <div class="cal-arrow"></div>
            <div class="cal-week-days-holiday">30</div>
            <div class="cal-week-days-mumbers-disable">1</div>
            <div class="cal-week-days-mumbers-disable">2</div>
            <div class="cal-week-days-mumbers-disable">3</div>
            <div class="cal-week-days-mumbers-disable">4</div>
            <div class="cal-week-days-mumbers-disable">5</div>
            <div class="cal-week-days-holiday">6</div>
            <div class="cal-ch"></div>
         </div>  

         <div style="position: fixed; width:100%; bottom:0">
            <div class="row">
                <div class="col btn-instctn">
                    <div class="holiday"></div>
                    <div class="left">Holiday</div>
                </div>
                <div class="col btn-instctn">
                    <div class="absent"></div>
                    <div class="left">Absent</div>
                </div>
                <div class="col btn-instctn">
                    <div class="approved"></div>
                    <div class="left">Approved</div>
                </div>
            </div>
            <div class="row">
                <div class="col btn-instctn">
                    <div class="pending-for-approval"></div>
                    <div class="left">Pending for Approval</div>
                </div>
                <div class="col btn-instctn">
                    <div class="exceptional-approval"></div>
                    <div class="left">Exceptional approval</div>
                </div>
            </div>   
         </div>
    </div>    
  
  </ion-content>
</ion-view>