<ion-view view-title=" Attendance Approvals " style="text-align:center">
  <ion-content style="background-color:#ffffff;margin-top: -45px;">     

    <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
        <ion-tab title="Functional">
            <ion-nav-view name="Functional">
                <ion-content padding="true">
                    <div class="collapse-view collapse-temp-warm im-card-new">
                        <a href="#/app/attendance-approval-details" style="text-decoration: none">
                        <div>
                            <div class="row padding0">
                                <div class="col txt-left"><b>Arunabh Choudhury</b></div>
                                <div class="col txt-right"><b>31-May-2016</b></span> </div>
                            </div>
                            <div class="row padding0">
                                <div class="col txt-left">Recorded In: <b> 00:00</b></div>
                                <div class="col txt-right">Recorded Out: <b> 00:00</b></span> </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Administrative">
            <ion-nav-view name="Administrative">
                <ion-content padding="true">
                    <div class="collapse-view collapse-temp-approve im-card-new">

                        <a href="#/app/attendance-approval-details" style="text-decoration: none">
                        <div>
                            <div class="row padding0">
                                <div class="col txt-left"><b>Arunabh Choudhury</b></div>
                                <div class="col txt-right"><b>31-May-2016</b></span> </div>
                            </div>
                            <div class="row padding0">
                                <div class="col txt-left">Recorded In: <b> 00:00</b></div>
                                <div class="col txt-right">Recorded Out: <b> 00:00</b></span> </div>
                            </div>
                        </div>
                        </a>  
                    </div>

                </ion-content>    
            </ion-nav-view> 
        </ion-tab>
    </ion-tabs> 

  
  </ion-content>
</ion-view> 