<ion-view view-title="Attendance on 28-Apr-2017" style="text-align:center">
  <ion-content style="background-color:#ffffff;margin-top: 10px;">      
          <div class="list" >
            <div class="row" style="background-color:#ccc;margin: 10px; width: 95%">
                <div class="col-10" style="padding:5px">In</div>
                <div class="col">8:19</div>
            </div>
            <div class="row" style="background-color:#ccc;margin: 10px; width: 95%">
                <div class="col-10" style="padding:5px">Out</div>
                <div class="col">18:39</div>
            </div>
            <br/>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <a href="#/app/attendance-logs" style="text-decoration: none">
                <div class="col btn-small" style="padding: 5px 20px">Logs</div>
                </a>
            </div>
          </div>
  </ion-content>
</ion-view> 