<ion-view view-title="Swipe Details on 28-Apr-2017" style="text-align:center">
  <ion-content style="background-color:#ffffff;margin-top: 15px;">      
          <div class="row" style="padding-top:0">
                <table class="table table-bordered">
                    <tr style="background-color:#2b8ba7; font-size:8pt; color:#fff;">
                        <th>Time</th>
                        <th>Mode</th>
                        <th>Type</th>
                        <th>LDS</th>
                    </tr>                   
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                </table>
            </div>
  </ion-content>
</ion-view> 