<ion-view view-title=" Attendance Approvals " style="text-align:center">
  <ion-content style="background-color:#ffffff;">      
         
             <div class="collapse-view" style="width:97%">
                <div class="collapseHeader" style="padding:10px 10px 5px 10px;">
                    <div class="att-name">Arunabh Choudhury</div>
                    <div  class="att-date">27-Apr-2016</div>
                    <div class="clear"></div>

                    <div  class="detailleftDiv txt-left" style="padding-left:0 !important;">
                        <span  class="dateSpan bold-none">Recorded In: </span><span>08:30</span>
                    </div>
                    <div  class="detailrightDiv" style="width:52%">
                        <span  class="dateSpan bold-none">Recorded Out: </span><span >12:30</span>
                    </div>
                    <div class="clear"></div>
                    
                </div>

                <div class="expansionDiv">
                        <div  class="detailleftDiv txt-left" style="width:37%">
                            <span  class="dateSpan bold-none">Recorded Hrs: </span><span>04:00</span>
                        </div>
                        <div  class="detailleftDiv txt-left" style="width:33%">
                            <span  class="dateSpan bold-none">Shortfall:  </span><span>01:00</span>
                        </div>
                        <div  class="detailrightDiv" style="width:30%; padding-right:10px;">
                            <span  class="dateSpan bold-none">Leave: </span><span >0.5 D</span>
                        </div>
                       <div class="clear"></div> 
                </div>

                <div class="expansionDiv">
                        <div  class="detailleftDiv txt-left" style="width:100%">
                            <span  class="dateSpan bold-none">Reason: </span><span>Reason text will show</span>
                        </div>
                        <div class="clear"></div>  
                        <div  class="detailleftDiv txt-left" style="width:100%">
                            <span  class="dateSpan bold-none">Comments:  </span><span>Comments text will show</span>
                        </div>
                       <div class="clear"></div>                        
                        
                        <div  class="row" style="margin-top:10px; border-top: dotted 1px #ccc;">
                           <div class="col txt-left">
                               <input type="checkbox" name="favcolor" id=""  style="width:15px; height:15px;">
            	               <label style="font-weight: normal; margin-left:5px; background-color:#fff; border:none;font-size:9pt;font-weight:bold;">Exceptional Approval</label>  
                           </div>
                        </div>
                       <div class="clear"></div>

                      <div class="row">
                           <div class="col padding0 txt-left" style="margin-left:7%">
                               <input type="checkbox" name="favcolor" id="Checkbox2" style="width:15px; height:15px;">
            	               <label style="font-weight: normal; background-color:#fff; border:none;font-size:9pt;font-weight:bold;">Half Day</label>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div  class="row">
                            <div class="col padding0 txt-left" style="margin-left: 7%">
                               <input type="checkbox" name="favcolor" id="Checkbox2" style="width:15px; height:15px;">
            	               <label style="font-weight: normal; background-color:#fff; border:none;font-size:9pt;font-weight:bold;">Full Day</label>
                            </div>
                        </div>

                        <div  class="row" style="margin-top:10px; border-top: dotted 1px #ccc; border-bottom: dotted 1px #ccc;">
                           <div class="col txt-left">
                               <input type="checkbox" name="favcolor" id=""  style="width:15px; height:15px;">
            	               <label style="font-weight: normal; margin-left:5px; background-color:#fff; border:none;font-size:9pt;font-weight:bold;">Regularized Missed Swipes</label>  
                           </div>
                        </div>
                       <div class="clear"></div>

                       
                        <div class="row">
                            <div class="col">
                                    <div class="btn-sml" style="background-color: #8ab010">Approve</div>
                            </div>
                            <div class="col">
                                    <div class="btn-sml" style="background-color: #f00">Reject</div>
                            </div>
                        </div>
                       
                  </div>
            </div>

            <div class="panel-head-grey">Recorded Swipe</div>
            <div class="row" style="padding-top:0">
                <table class="table table-bordered">
                    <tr style="background-color:#2b8ba7; font-size:8pt; color:#fff;">
                        <th>Time</th>
                        <th>Mode</th>
                        <th>Type</th>
                        <th>LDS</th>
                    </tr>                   
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>BIO</td>
                        <td>altinout</td>
                        <td>16:54</td>
                    </tr>
                </table>
            </div>
  </ion-content>
</ion-view> 