<ion-view view-title="ESS" style="text-align:center">
    <ion-content style="background-color:#ffffff;">
        <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
            <div class="row" style="margin-bottom:25px;">
                <div class="col" align="center">
                    <a href="#/app/attendance"><img src="img/Attendance.png" /></a>
                    <br />Attendance
                </div>

                <div class="col" align="center">
                    <a href="#/app/leave-summary"><img src="img/leave-summary.png" /></a>
                    <br />Leave Summary                    
                </div>
                
                <div class="col" align="center">
                    <a href="#/app/apply-leave"><img src="img/ApplyLeave.png" /></a>
                    <br />Apply Leave                  
                </div>
            </div>

            <div class="row" style="margin-bottom:25px;">                    
                <div class="col" align="center">
                    <a href="#/app/approvals-home"><img src="img/approval.png" /></a>
                    <br />Approvals                                     
                </div>
                
                <div class="col" align="center">
                    <a href="#/app/my-team"><img src="img/team.png" /></a>
                    <br />MyTeam               
                </div>

                <div class="col" align="center">
                    <a href="#/app/reimbus-all"><img src="img/reimbursement.png" /></a>
                    <br />    Reimbursement           
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>