<ion-view view-title="Swipe Details on 28-Apr-2017" style="text-align:center">
  <ion-content style="background-color:#ffffff;margin-top: 15px;">      
          <div class="row" style="padding-top:0">
                <table class="table table-bordered">                                      
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>OB2 Main door</td>
                        <td>BIO</td>
                        <td>null</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>OB2 Main door</td>
                        <td>BIO</td>
                        <td>null</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>OB2 Main door</td>
                        <td>BIO</td>
                        <td>null</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>OB2 Main door</td>
                        <td>BIO</td>
                        <td>null</td>
                    </tr>
                    <tr style="font-size:8pt; background-color:#fff;">                        
                        <td>16:54</td>
                        <td>OB2 Main door</td>
                        <td>BIO</td>
                        <td>null</td>
                    </tr>
                </table>
            </div>
  </ion-content>
</ion-view> 