<ion-view view-title="Leave Summary" style="text-align:center">
    <ion-content style="background-color:#ffffff;margin-top: -45px;">
     
        <div class="collapse-view im-card-new" style="    margin: 50px 0 -53px 5px !important;">
            <div class="cal-prf-brown1" style="margin:0 ">MR</div>
        </div> 
        <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
            <ion-tab title="Functional">
                <ion-nav-view name="Functional">
                    <ion-content padding="true">               

                        <div class="cal-row" style="padding:20px 0">
                            <div class="cal-arrow1"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
                            <div class="cal-week-days1" style="background-color:#ff0000; color:#fff; ">S</div>
                            <div class="cal-week-days1">M</div>
                            <div class="cal-week-days1">T</div>
                            <div class="cal-week-days1">W</div>
                            <div class="cal-week-days1">T</div>
                            <div class="cal-week-days1">F</div>
                            <div class="cal-week-days1" style="background-color:#ff0000; color:#fff; ">S</div>
                            <div class="cal-arrow1" style=" border-right:solid 1px #ccc;"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
                        </div>
                        <div class="cal-row1">
                            <div class="cal-ch1">Name</div>
                            <div class="cal-week-days1" style="background-color:#ff9a9a; color:#fff; ">4</div>
                            <div class="cal-week-days-mumbers1">5</div>
                            <div class="cal-week-days-mumbers1">6</div>
                            <div class="cal-week-days-mumbers1">7</div>
                            <div class="cal-week-days-mumbers1">8</div>
                            <div class="cal-week-days-mumbers1">9</div>
                            <div class="cal-week-days1" style="background-color:#ff9a9a; color:#fff; ">10</div>
                            <div class="cal-ch1">CH</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto;line-height: 0 !important">
                                    <img src="img/photo2.png" style="width:30px; height:30px; border-radius:50%; border:solid 2px #0d71cd;" />
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <a href="#/app/my-team-logs" style="text-decoration: none">
                                <div class="cal-attendance1" style="line-height: 1.3;">
                                    <div class="cal-p-green1">P</div>
                                    <div class="cal-time1">9:30</div>
                                </div>
                            </a>
                            <div class="cal-attendance1"  style="line-height: 1.3;">
                                <div class="cal-p-green1">L</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">28.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto;">
                                    <div class="cal-prf-brown1">MR</div>
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-a-red1">A</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">L</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-red-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">13.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto; line-height: 0 !important">
                                    <img src="img/photo.png" style="width:30px; height:30px; border-radius:50%; border:solid 2px #0d71cd;" />
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">4:00</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">13.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                            <div style="margin:auto;">
                                    <div class="cal-prf-blue1">SA</div>
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-orange1">P</div>
                                <div class="cal-time1">10:00</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-week-days-week-offw1">W</div>          
                            <div class="cal-ch-num1">21.30</div>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab title="Administrative">
                <ion-nav-view name="Administrative">
                    <ion-content padding="true">    
                        <div class="cal-row" style="padding:20px 0">
                            <div class="cal-arrow1"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
                            <div class="cal-week-days1" style="background-color:#ff0000; color:#fff; ">S</div>
                            <div class="cal-week-days1">M</div>
                            <div class="cal-week-days1">T</div>
                            <div class="cal-week-days1">W</div>
                            <div class="cal-week-days1">T</div>
                            <div class="cal-week-days1">F</div>
                            <div class="cal-week-days1" style="background-color:#ff0000; color:#fff; ">S</div>
                            <div class="cal-arrow1" style=" border-right:solid 1px #ccc;"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
                        </div>
                        <div class="cal-row1">
                            <div class="cal-ch1">Name</div>
                            <div class="cal-week-days1" style="background-color:#ff9a9a; color:#fff; ">4</div>
                            <div class="cal-week-days-mumbers1">5</div>
                            <div class="cal-week-days-mumbers1">6</div>
                            <div class="cal-week-days-mumbers1">7</div>
                            <div class="cal-week-days-mumbers1">8</div>
                            <div class="cal-week-days-mumbers1">9</div>
                            <div class="cal-week-days1" style="background-color:#ff9a9a; color:#fff; ">10</div>
                            <div class="cal-ch1">CH</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto;line-height: 0 !important">
                                    <img src="img/photo2.png" style="width:30px; height:30px; border-radius:50%; border:solid 2px #0d71cd;" />
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <a href="#/app/my-team-logs" style="text-decoration: none">
                                <div class="cal-attendance1" style="line-height: 1.3;">
                                    <div class="cal-p-green1">P</div>
                                    <div class="cal-time1">9:30</div>
                                </div>
                            </a>
                            <div class="cal-attendance1"  style="line-height: 1.3;">
                                <div class="cal-p-green1">L</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">28.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto;">
                                    <div class="cal-prf-brown1">MR</div>
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-a-red1">A</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">L</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-red-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">13.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto; line-height: 0 !important">
                                    <img src="img/photo.png" style="width:30px; height:30px; border-radius:50%; border:solid 2px #0d71cd;" />
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">4:00</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-W-Purple1">W</div>
                                <div class="cal-time1">9:30</div>
                            </div>           
                            <div class="cal-ch-num1">13.30</div>
                        </div>

                        <div class="cal-row1">
                            <div class="cal-ch1">
                                <div style="margin:auto;">
                                    <div class="cal-prf-blue1">SA</div>
                                </div>
                            </div>
                            <div class="cal-week-days-week-offw1">W</div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-orange1">P</div>
                                <div class="cal-time1">10:00</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="cal-p-green1">P</div>
                                <div class="cal-time1">9:30</div>
                            </div>
                            <div class="cal-attendance1" style="line-height: 1.3;">
                                <div class="grad cal-green-circle1">&nbsp;</div>
                            </div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-empty1">&nbsp;</div>
                            <div class="cal-week-days-week-offw1">W</div>          
                            <div class="cal-ch-num1">21.30</div>
                        </div>
                    </ion-content>    
                </ion-nav-view> 
            </ion-tab>
        </ion-tabs> 
  </ion-content>
</ion-view> 
