<ion-view view-title="Absent Info" style="text-align:center">
  <ion-content style="background-color:#ffffff;">
     <div class="collapse-view collapse-temp-new im-card-new">
        <a href="#/app/regularization" style="text-decoration: none !important">
        <div class="row padding0">
            <div class="col">31-Mar-2017</div>
            <div class="col">In:--</div>           
            <div class="col">Out:-- </div>
            <div class="col"><b></b></div>
        </div>   
        </a>                   
    </div>
    <div class="collapse-view collapse-temp-new im-card-new">
        <div class="row padding0">
            <div class="col">29-Feb-2017</div>
            <div class="col">In: 08:15</div>           
            <div class="col">Out: 17:19 </div>
            <div class="col"><b>8.97h</b></div>
        </div>                      
    </div>
    <div class="collapse-view collapse-temp-new im-card-new">
        <div class="row padding0">
            <div class="col">27-Feb-2017</div>
            <div class="col">In: 08:15</div>           
            <div class="col">Out: 17:19 </div>
            <div class="col"><b>8.97h</b></div>
        </div>                      
    </div>
    <div class="collapse-view collapse-temp-new im-card-new">
        <div class="row padding0">
            <div class="col">21-Feb-2017</div>
            <div class="col">In: 08:15</div>           
            <div class="col">Out: 17:19 </div>
            <div class="col"><b>8.97h</b></div>
        </div>                      
    </div>
  
  </ion-content>
</ion-view> 