<ion-view view-title="Product Plan" style="text-align:center">
  <ion-content  >
     <div class="itemdescrption container ui-tabs-panel ui-widget-content ui-corner-bottom" id="potab1" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false">

      <div style="padding: 5px">
        <h5 style="text-align: left"><b>Parties</b></h5>
        <p style="text-align: justify">
          This Contract is entered into between the Customers and the Vendors and on the date as described above. Each Party is represented herein by their authorised signatory who has affixed their signature below.
        </p>
      </div>
     </div>
  </ion-content>
</ion-view>