<ion-view class="pullCenter" align-title="center">
    <ion-nav-title>Procurement</ion-nav-title>

    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light" animation="fade-in-out">

        <!-- Pending Tab -->
        <ion-tab title="Pending" href="#">      
            <ion-nav-view name="Pending">
                <ion-content>
                    <label class="item item-input" style="padding:3px 10px !important;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search Force" data-ng-model="searchForce">
                    </label>

                    <div class="list card">
                    <div class="item item-body">
                        <div class="nodata">
                        <b>No PO details to show </b>
                        </div>
                    </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
  

        <!-- Upcoming Tab -->
        <ion-tab title="Upcoming" badge="5" badge-style="badge-assertive" href="#">
            <ion-nav-view name="Upcoming">
                <ion-content>
                    <label class="item item-input" style="padding:3px 10px !important;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search Force" data-ng-model="searchForce">
                    </label>
                    <a href="#/app/po_details" style="text-decoration: none;color:#333">
                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!-- Approved Tab -->
        <ion-tab title="Approved" badge="3" badge-style="badge-assertive" href="#">
            <ion-nav-view name="Approved">
                <ion-content>
                    <label class="item item-input" style="padding:3px 10px !important;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search Force" data-ng-model="searchForce">
                    </label>
                    <a href="#/app/po_details" style="text-decoration: none;color:#333">
                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>

                    
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!-- Rejected Tab -->
        <ion-tab title="Rejected" badge="1" badge-style="badge-assertive" href="#">
            <ion-nav-view name="Rejected">
                <ion-content>
                    <label class="item item-input" style="padding:3px 10px !important;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search Force" data-ng-model="searchForce">
                    </label>
                    <a href="#/app/po_details" style="text-decoration: none;color:#333">
                    <div class="panel-body gridbg listitem">
                        <div class="approveslide">
                            <div class="row" style="padding:0 10px;">
                                <div style="float:left;width:30%;">16W-100059</div>
                                <div style="float:left;width:30%;font-size:10pt;">25-Mar-2016</div>
                                <div style="float:left;width:40%;">
                                    <div class="amt" style="float:right;">13,18,750 INR</div>
                                </div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div class="Saleste_ellipsis_text" style="width:100%;">
                                    Total Environment building systems private.limited support vendor for testing</div>
                            </div>
                            <div class="linespace1"></div>
                            <div class="row">
                                <div style="float:left; width:50%">Testing PO-WoYM</div>
                                <div style="float:right; width:50%; text-align: right;">0043</div>
                            </div>
                        </div>
                    </div>
                    </a>                    
                </ion-content>
            </ion-nav-view>
        </ion-tab>
    </ion-tabs> 
</ion-view>
