<ion-view view-title="Notification" style="text-align:center">
  <ion-content class="Transparentbackground">
<div>
 
  <div class="transbox" style="margin-top:9px;">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed!</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
   <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed!</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  </div>
</ion-content>
</ion-view>
