<ion-view class="pullCenter" align-title="center">
    <ion-nav-title> Terms & Conditions</ion-nav-title>

    <ion-tabs class="tabs-striped tabs-top tabs-color-light" animation="fade-in-out">


   <ion-tab title = "General">
       <ion-nav-view name="Genaral">
                <ion-content>                    
                   <div class="panel-head">1 Parties:</div>
                   <div class="row">
                       <div class="col terms-txt">
                        <span class="terms-txt-head">This Contract is entered into between the Customers and the Vendors and on the date as described above. Each Party is represented herein by their authorised signatory who has affixed their signature below.  
                        </div>
                   </div>
                   <div class="linespace1"></div> 

                   <div class="panel-head">2 Authority:</div>
                   <div class="row">
                       <div class="col terms-txt">
                        <span class="terms-txt-head">Each person signing this Agreement represents that he or she has the legal capacity and authority to bind the respective party to this Agreement. 
                        </div>
                   </div>
                   <div class="linespace1"></div> 

                   
                </ion-content>
            </ion-nav-view>
   </ion-tab>

   <ion-tab title = "Specific">
       <ion-nav-view name="Specific">
                <ion-content>
                   <div class="terms-txt-head" style="margin: 5px;padding: 5px;">
                        <b>These Specific Terms and Conditions are to be read in conjunction with the General Terms and Conditions. In case of a conflict between any of the clauses, the Specific Terms and Conditions shall supercede.</b>
                   </div>
                   <div class="linespace1"></div> 
                   <div class="panel-head">1 Definitions:</div>
                   <div class="row">
                       <div class="col-5" style="    line-height: 2.5;">a</div>
                       <div class="col terms-txt">
                        <span class="terms-txt-head"><b>Built-up Area:</b></span> refers to the entire built area of the project including basements, parking areas, utility spaces, internal stairs, balconies and terraces and 50% of the area of service platforms 
                        </div>
                   </div>

                   <div class="row">
                       <div class="col-5" style="    line-height: 2.5;">b</div>
                       <div class="col terms-txt">
                        <span class="terms-txt-head"><b> Company: </b></span>refers to all the Group Companies of the Customer
                        </div>
                   </div>

                   <div class="row">
                       <div class="col-5" style="    line-height: 2.5;">c</div>
                       <div class="col terms-txt">
                        <span class="terms-txt-head"><b> Project: </b></span> refers to the construction of a building or group of buildings in any format - residential, commercial, mixed use or any other format. 
                        </div>
                   </div>

                   <div class="row">
                       <div class="col-5" style="    line-height: 2.5;">d</div>
                       <div class="col terms-txt">
                        <span class="terms-txt-head"><b>Small, Medium and Large Projects: </b></span> here Small refers to project under 2,00,000 sq.ft. of Built-Up Area, Medium from 2,00,000 sq.ft. to 1 million sq.ft. and Large would mean > 1 million sq.ft.
                        </div>
                   </div>
                </ion-content>
            </ion-nav-view>
   </ion-tab>


  
        
    </ion-tabs> 
    <style>
.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
    color: #808080 !important;    
    background-color: #fff !important;
}

.tabs-striped .tab-item.tab-item-active, 
.tabs-striped > .tabs
{
   
    font-size: 12px;
    font-weight: bold;
    color: coral !important;
    font-weight: bold;
}
    </style>
</ion-view>
