<ion-view view-title="Calendar" side="Center" class="animate-in-primary bg">
  <ion-content >
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
    <div class="row padding0" style="background-color:#a62a2a; padding:3px; margin:5px 0;color:#fff">
      <div class="col txt-right" style="line-height: 1.6"> Jun 2017</div>
      <div class="col txt-right"> Today</div>
    </div>
    <ion-item>
    <div style="width:100%;overflow-y:scroll;">
                <div>
                  <ion-scroll direction="x" class="wide-as-needed">
                    <div class="row">
                      <a href="" style="text-decoration:none;" >
                        <div class="scoll-date-calendar active-colr active-colr">10</div>
                      <a>
                      <a href="" style="text-decoration:none;" >
                        <div class="scoll-date-calendar">11 </div>
                      <a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">12</div>
                      <a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">13</div>
                      <a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">14</div>
                      <a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">15</div>
                      <a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">16</div>
                        </a>
                        <a href="" style="text-decoration:none;">
                        <div class="scoll-date-calendar">17</div>
                        </a>
                    </div>
                  </ion-scroll>
                  
                </div>
              </div>  
            <a href="#/app/appointment-details" style="text-decoration: none !important">
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/ph-green.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
            </a>

            <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/mail-green.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/site-visit-green.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/meeting-green.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/deadline-green.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/task-red.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>
              <div class="collapse-view collapse-temp-general im-card" style="margin-top: 5px !important;">
                <div class="row" style="padding: 0px;">
                  <div class="" style="width:21px;"><img src="img/ph-red.png"/></div>
                  <div class="col col-60 padding0 collapse-text-head Saleste_ellipsis_text">Ms Shantha  Rangaswamy</div>    
                  <div class="col collapse-text-small padding0 txt-left">9:30 AM</div>       
                  <div style="width:21px;"><img src="img/ph-grey.png"/></div>
                  <div style="width:21px;"><img src="img/mail-grey.png"/></div>
                </div>
              </div>

            
          </ion-item>
        </div>
      </div>

    </div>

      
    </ion-list>
  </ion-content>
    <div class="ad-btn"><a href="#/app/appointment-details"><img src="img/ad.png" /></a></div>
</ion-view>
 