<ion-view view-title="Check List" side="Center" class="animate-in-primary bg">
  <ion-content >
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
    <div class="row padding0" style="background-color:#a62a2a; padding:3px; margin:5px 0;color:#fff">
      <div class="col txt-left" style="line-height: 1.6"> Prospect Name</div>
    </div>
    <ion-item style="background-color: #fff">
      <p style="white-space: normal; ">Why did you choose to explore a Total Environment home?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">What type of a home do you want?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">Would this be for end use or investment purpose?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">Are you looking for a fully furnished or unfurnished home?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">What amenities are you looking for in the project?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">What kind of facilities do you want close to the project?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">What is your timeframe to make this purchase?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">Which other projects are you exploring?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">What is your budget?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">How are you going to fund this purchase?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">. What experiences, good and bad, have you had with other builders? What do you
want that should be different this time around?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">How do you prefer to be contacted?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>

      <p style="white-space: normal; ">. When can we see the project site?</p>
      <div class="row">
        <div class="prospect-edit90"> <input type="text" placeholder="Your feedback" style="color: blue; width:100%; margin-left: 6px;"></div>
      </div>
            



      <div class="row">
                <div class="col"><div class="today-followupbtn">Cancel</div></div>
             <div class="col"><div class="today-followupbtn" >Save</div></div>
            </div>
          </ion-item>
        </div>
      </div>

    </div>

      
    </ion-list>
  </ion-content>
</ion-view>
 