<ion-view view-title=" New Ticket " style="text-align:center">
    <style>
        .list {
            position: relative;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 0;
            margin: -15px -28px 0 -55px;
        }
    </style>
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
    <ion-list>
        <ion-item href="#/app/new-ticket-create">
            <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
            <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >IT</div>                  
                <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
            </div>
            </div>          
        </ion-item>
      </ion-list> 
      <ion-list>
        <ion-item href="#">
            <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
            <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >People Operations </div>                  
                <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
            </div>
            </div>          
        </ion-item>
      </ion-list> 

      <ion-list>
            <ion-item href="#">
                <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
                <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                    <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >Administration </div>                  
                    <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
                </div>
                </div>          
            </ion-item>
          </ion-list> 
          <ion-list>
                <ion-item href="#">
                    <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
                    <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                        <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >SAP </div>                  
                        <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
                    </div>
                    </div>          
                </ion-item>
              </ion-list> 
              <ion-list>
                    <ion-item href="#">
                        <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
                        <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                            <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >Fugue </div>                  
                            <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
                        </div>
                        </div>          
                    </ion-item>
                  </ion-list> 
                  <ion-list>
                        <ion-item href="#">
                            <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 3px 0 -6px 0 !important;margin-left: 1% !important;">
                            <div class="row" style="padding: 0px 10px;font-size:10pt;" >
                                <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;line-height: 3.5;" >Lead </div>                  
                                <div class="col" style="text-align: right;line-height: 3.5;"><img src="img/caret-arrow-icon.png" style="width: 10px;"></div>
                            </div>
                            </div>          
                        </ion-item>
                      </ion-list> 
          
  </ion-content>
</ion-view>