<ion-view view-title="Notification" style="text-align:center">
  <ion-content class="Transparentbackground">
<div>
<div style="position:fixed; left:15px;" id="homeIc" ng-controller="AlertCtrl">
            <a href="#/app/create_prospect">
                <div style="padding:10px 0" class="SalesClass"><img src="img/Home_icons/prospect-white.png"/>
                </div>
            </a>
            <a href="#/app/lead">
                <div style="padding:10px 0" class="SalesClass"><img src="img/Home_icons/lead-white.png"/>
                </div>
            </a>
            <a href="#/app/pipeline">
                <div style="padding:10px 0" class="SalesClass"><img src="img/Home_icons/pipeline.png"/>
                </div>
            </a>
            <a href="#/app/prtfolio">
                <div style="padding:10px 0" class="Po"><img src="img/Home_icons/portfolio-white.png"/>
                    <span id="pendingCount" class="badge"></span>
                </div>
            </a>
            <a href="#/app/calendar">
                <div style="padding:10px 0" class="Po"><img src="img/Home_icons/calendar.png"/>
                    <span id="pendingCount" class="badge"></span>
                </div>
            </a>
            <a href="#/app/sample-offer">
                <div style="padding:10px 0" class="SalesClass"><img src="img/Home_icons/sample-offer.png" /></div>
            </a>
           
            
        </div>
  <div class="transbox" style="margin-top:9px;">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed!</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
   <div class="transbox">
    <p>20th Foundation Day Total Environment</p>
  </div>
  <div class="transbox">
    <p>Order Confirmed!</p>
  </div>
  <div class="transbox">
    <p>We are celebrating 20th foundation day</p>
  </div>
  </div>
</ion-content>
</ion-view>
