<ion-view title="Profile">
    <ion-content>
        <div class="row" style="margin: auto">
            <div class="col">
            <div class="content prfimgtxt">
                <div class="prf-img" style="background-image: url('img/test/profile-img1.png'); "></div>
            </div>
            </div>
        </div>     
      
        <div style="margin-top: 90px;">
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-email"></i></div> 
            <div class="col prf-brd">Official Email</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-email"></i></div> 
            <div class="col prf-brd">Personal Email</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-iphone"></i></div> 
            <div class="col prf-brd">Mobile</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-calendar-outline"></i></div> 
            <div class="col prf-brd">Birth Date</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-calendar"></i></div> 
            <div class="col prf-brd">Joining Date</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-male"></i></div> 
            <div class="col prf-brd">Gender</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-person"></i></div> 
            <div class="col prf-brd">Blood Group</div>
          </div>
          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-briefcase"></i></div> 
            <div class="col prf-brd">Company</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-briefcase"></i></div> 
            <div class="col prf-brd">Department</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-briefcase"></i></div> 
            <div class="col prf-brd">Sub Function</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-person"></i></div> 
            <div class="col prf-brd">Band | Grade | Designation</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-ios-location"></i></div> 
            <div class="col prf-brd">Work Location</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-person"></i></div> 
            <div class="col prf-brd">Manager</div>
          </div>

          <div class="row prf-space">
            <div class="col-10"><i class = "prf0-icon ion-person"></i></div> 
            <div class="col prf-brd">Nature Of Employment</div>
          </div>

          
        </div>
    </ion-content>

    
    
    
</ion-view>