<ion-view view-title="Portfolio" side="Center" class="animate-in-primary">
<ion-content class="page" ng-controller="GetParticularProjectID" >
  <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
 <div ng-controller="CollapsablePanel1" >
          <ion-list>
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
         Learning to Fly
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" style="padding: 0 5px !important">
       
  
    <div ng-controller="CollapsablePanel1">
          <ion-list >
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff; background-color: #ccc !important;"                    ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Towers 
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" >
          	<div style="width:100%;overflow-y:scroll;">
	              <table class="table table-bordered" id="Table3" style="width:100%;">
                  <tr style="background-color:#17202A; font-size:8pt; color:white;">
                    <th style="width:130px;">TN</th>
                    <th style="width:65px;">Open For Sale</th>
                    <th style="width:45px;">%</th>
                    <th style="width:65px;">No of Units</th>
                    <th style="width:105px;">Hand Over Date</th>
                </tr>
                      <tr style="font-size:10pt;">
                        <tr >
                          <td style="font-size:8pt;">WoYM-T1</td>
                          <td style="font-size:8pt;">YES</td>
                          <td style="font-size:8pt;text-align:right;" >20</td>
                          <td style="font-size:8pt;text-align:right;" >18</td>
                          <td style="font-size:8pt;">25-May-2017</td>
                      </tr>
                </tr>
                       </table>
                  </div>
          </ion-item>
        </div>
      </ion-list>
    </div>

     <div ng-controller="CollapsablePanel1">
          <ion-list >
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff; background-color: #ccc !important;"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Products 
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" >
          	<div style="width:100%;overflow-y:scroll;">
	              <table class="table table-bordered" id="Table3" style="width:100%;">
                  <tr style="background-color:#17202A; font-size:8pt; color:white;">
                    <th style="width:130px;">Products</th>
                    <th style="width:55px;">CPA</th>
                    <th style="width:65px;">BUA</th>
                    <th style="width:65px;">PLA</th>
                    <th style="width:155px;">SLA</th>
                    <th style="width:130px;">UDI</th>
                  </tr>
                  <tr style="font-size:10pt;">
                  <tr >
                  <td style="font-size:8pt;">H13A1</td>
                  <td style="font-size:8pt;text-align:right;">3500</td>
                  <td style="font-size:8pt;text-align:right;">3600</td>
                  <td style="font-size:8pt;text-align:right;">3700</td>
                  <td style="font-size:8pt;text-align:right;">4440</td>
                  <td style="font-size:8pt;text-align:right;">500</td>
                  </tr>
                   </tr>
                   </table>
               </div>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <div ng-controller="CollapsablePanel1">
          <ion-list>
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff; background-color: #ccc !important;"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Price Book
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)">
            <ion-list>
        <div style="width:100%;overflow-y:scroll;" >
        <table class="table table-bordered" id="Table3">
        <tbody ng-repeat="item in items">
          <tr class="main-row" style="background-color:#17202A; font-size:8pt; color:white;">
            <td>Tower</td>
            <td>Product</td>
            <td>Scheme</td>
            <td>Area</td>
            <td>Rate</td>
            <td>Value</td>
            
        </tr>
        <tr  style="font-size: 8pt; color: black; background-color: rgb(255, 255, 255);" class="">            
          <td style="font-size:8pt;">Tower-1</td>
          <td style="font-size:8pt;background-color:#224162;color:white;">S12S36</td>
          <td style="font-size:8pt;">NA</td>
          <td style="font-size:8pt;text-align:right;">2,000</td>
          <td style="font-size:8pt;">0</td>
          <td style="font-size:8pt;text-align:right;">4.50</td>
          
          </tr>
             
           
         </tbody>  
                  
        </table>  
        </div>  
            </ion-list>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <div ng-controller="CollapsablePanel1">
      <ion-list>
      <div ng-repeat="group in groups">
      <ion-item class="item-stable item-icon-right" style="color:#fff; background-color: #ccc !important;"
                ng-click="toggleGroup(group)"
                ng-class="{active: isGroupShown(group)}">
          <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          Collaterals
      </ion-item>
     <ion-item  ng-show="isGroupShown(group)">
        <ion-list>
    <div style="width:100%;overflow-y:scroll;" >
    <table class="table table-bordered" id="Table3">
    <tbody >
      <tr style="background-color:#17202A; font-size:8pt; color:white;">
        <th style="width:130px;">Title</th>
        <th style="width:55px;">Category</th>
        <th style="width:55px;">Document Type</th>
        <th style="width:65px;">Document Sub Type</th>                                 
        <th>Product</th>
    </tr>
    <tr>
      <td style="font-size:8pt;">Terms and condition title</td>
      <td style="font-size:8pt;">Terms and Conditions</td>
      <td style="font-size:8pt;">PostLaunchPriceOffer</td>
      <td style="font-size:8pt;">NA</td>
<td style="font-size:8pt;">H13A1</td>
   </tr>
         
       
     </tbody>  
              
    </table>  
    </div>  
        </ion-list>
      </ion-item>
    </div>
  </ion-list>
</div>

    <div ng-controller="CollapsablePanel1" ng-show="false">
          <ion-list>
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Templates
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)">
          <ion-scroll direction="x" class="wide-as-needed">
            <div class="row"  style="margin-bottom: 9px;">
               <div class="product-space" ng-repeat="s in Products" ng-init="x.imageurl=imageUrl11" >
              <img src="{{x.imageurl}}"  on-tap="onTap11(x)" ><span class="product" >{{s.SubProductCode}}</span>
              </div>
            </div>
           </ion-scroll>
            <div style="border:solid 1px #424242"></div>
             <div class="row">
               <div class="col" style="padding: 11px;color:orange;">Specification</div>
                <div class="col"><div class="btn-specification">Download</div></div>
               </div>
               <div style="border:solid 1px #424242"></div>
               <div class="row">
                <div class="col" style="padding: 11px;color:orange;">Terms & Condition</div>
                <div class="col"><div class="btn-specification">Download</div></div>
               </div>
                 <div style="border:solid 1px #424242"></div>
               <div class="row">
               <div class="col" style="padding: 11px;color:orange;">Agreements</div>
                <div class="col"><div class="btn-specification">Download</div></div>
              </div>
             <div style="border:solid 1px #424242"></div>
          </ion-item>
        </div>
      </ion-list>
    </div>
 

          </ion-item>
        </div>
      </ion-list>
    </div>

       </ion-item>
  </div>
 </ion-list>
</div>

</ion-content>
</ion-view>