<ion-view view-title="Sales" style="text-align:center">
  <ion-content>
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                        <a href="#/app/create_prospect"><img src="img/lead.png" id="Leadreg" /></a>
                        <br />Create Prospect
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/performance"><img src="img/performance.png" id="Leadreg" /></a>
                        <br />Performance
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/lead"><img src="img/my-opportunity.png" id="MyOpp" /></a>
                        <br />Lead
                    </div>
                </div>
		    </div>
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                       <a href="#/app/prtfolio"><img src="img/portfolio.png" id="Inventory" /></a>
                        <br />Portfolio
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/pipeline"><img src="img/pipeline.png" id="Leadreg" /></a>
                        <br />Pipeline
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/calendar"><img src="img/calendar.png" id="Inventory" /></a>
                        <br />Calendar
                    </div>
                </div>
		    </div>
             <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                      <a href="#/app/Approvals_home"><img src="img/approval.png" id="" /></a>
                        <br />Approvals
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/collection_home"><img src="img/collection.png" id="Leadreg" /></a>
                        <br />Collection
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/sales-offer"><img src="img/offer.png" id="" /></a>
                        <br />Offers
                    </div>
                </div>
		    </div>
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                      <a href="#/app/sample-offer"><img src="img/approval.png" id="" /></a>
                        <br />Sample Offers
                    </div>
                    <div class="col" align="center">
                        
                    </div>
                    <div class="col" align="center">
                        
                    </div>
                </div>
		    </div>

           

     

          </div>
  </ion-content>
</ion-view>