<ion-view view-title="Sales" style="text-align:center">
  <ion-content>
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                        <a href="#/app/create_prospect"><img src="img/lead.png" id="Leadreg" /></a>
                        <br />Prospect
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/lead"><img src="img/my-opportunity.png" id="MyOpp" /></a>
                        <br />Lead
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/prtfolio"><img src="img/portfolio.png" id="Inventory" /></a>
                        <br />Portfolio
                    </div>
                </div>
		    </div>
             <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                        <a href="#/app/create_prospect"><img src="img/offer.png" id="Leadreg" /></a>
                        <br />Offers
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/lead"><img src="img/customer.png" id="MyOpp" /></a>
                        <br/>Closure
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/prtfolio"><img src="img/approval.png" id="Inventory" /></a>
                        <br />Approvals
                    </div>
                </div>
		    </div>

              <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                        <a href="#/app/create_prospect"><img src="img/collection.png" id="Leadreg" /></a>
                        <br />Collection
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/lead"><img src="img/customer.png" id="MyOpp" /></a>
                        <br/>Closure
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/prtfolio"><img src="img/followup.png" id="Inventory" /></a>
                        <br />Approvals
                    </div>
                </div>
		    </div>
                <!--<div class="ui-grid-b" style="margin-bottom:25px;">
                    <div class="ui-block-a" align="center">
                        <a href="#"><img src="images/submenu/offer.png" id="MyOffers" /></a>
                        <br />Offers
                    </div>
                    <div class="ui-block-b" align="center">
                        <a href="#"><img src="images/submenu/customer.png" id="MyCustomers" /></a>
                        <br />Closure
                    </div>
                    <div class="ui-block-c" align="center">
                        <a href="#"><img src="images/submenu/approval.png" id="Approvals" /></a>
                        <br />Approvals
                    </div>
                </div>
                <div class="ui-grid-b" style="margin-bottom:25px;">
                    <div class="ui-block-a" align="center">
                        <a href="#"><img src="images/submenu/collection.png" id="collections" /></a>
                        <br />Collection
                    </div>
                    <div class="ui-block-b" align="center">
                        <a href="#"><img src="images/submenu/customer.png" id="Customers" /></a>
                        <br />Closed
                    </div>
                    <div class="ui-block-c" align="center">
                        <a href="#"><img src="images/submenu/followup.png" id="followups" /></a>
                        <br />Followups
                    </div>
                </div>
                <div class="ui-grid-b" style="margin-bottom:25px;display:none;">
                    <div class="ui-block-a" align="center" style="display:none;">
                        <a href="#"><img src="images/submenu/pricebook.png" /></a>
                        <br />Price Book
                    </div>
                    <div class="ui-block-a" align="center">
                        <a href="#"><img src="images/submenu/sales-stages.png" /></a>
                        <br />Sales Stages
                    </div>
                    <div class="ui-block-a" align="center">
                        <a href="#"><img src="images/submenu/summary.png" /></a>
                        <br />Today Summary
                    </div>
                    <div class="ui-block-b" align="center">
                        <a href="#"><img src="images/submenu/salestracker.png" id="SalesTracker" /></a>
                        <br />Sales Tracker
                    </div>
                </div>
                <div class="ui-grid-b ">
                </div>-->
            </div>
  </ion-content>
</ion-view>