<ion-view view-title="Sample Offers" side="Center" class="animate-in-primary">
<ion-content class="page" ng-controller="GetParticularProjectID" >
  <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
<div style="width:100%;overflow-y:scroll;" >
        <table class="table table-bordered" id="Table3">
        <tbody ng-repeat="item in items">
            <tr class="main-row"  style="background-color:#17202A; font-size:8pt; color:white;">
                <td>Projects</td>
                <td>Tower</td>
                <td>Product</td>                 
                <td>Scheme</td>
                <td>Area</td>
                <td>Price</td>
                <td></td>
                <td></td>
                
            </tr>
            <tr style="font-size:8pt;">    
                <td style="font-size:8pt;">WoYM</td>        
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #0000ff;color:#fff;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td>  
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>        
            </tr>
            <tr style="font-size:8pt;">     
                <td style="font-size:8pt;">AtR</td>       
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #8a2be2;color:#fff;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td>
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>   
            </tr>
            <tr style="font-size:8pt;">    
                <td style="font-size:8pt;">TMD</td>        
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #a52a2a;color:#fff;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td> 
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>   
            </tr>
            <tr style="font-size:8pt;">      
                <td style="font-size:8pt;">VGG</td>      
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #006400;color:#fff;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td> 
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>   
            </tr>
            <tr style="font-size:8pt;">    
                <td style="font-size:8pt;">LtF</td>        
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #88ff1b;color:#000;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td>   
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>           
            </tr>
            <tr style="font-size:8pt;">   
                <td style="font-size:8pt;">SftW</td>         
                <td style="font-size:8pt;">T1</td>
                <td style="background-color: #0000ff;color:#fff;font-size:8pt;">S12A1</td>
                <td style="font-size:8pt;"></td>
                <td style="font-size:8pt;text-align:right;">5868</td>
                <td style="font-size:8pt;text-align:right;">3.071 cr</td> 
                <td style="font-size: 12pt;"><ion-icon class=ion-email></ion-icon></td>
                <td style="font-size: 12pt;"><ion-icon class=ion-ios-download></ion-icon></td>        
            </tr>
             
           
         </tbody>  
                  
        </table>  
        </div> 
          </ion-item>
        </div>
      </ion-list>
    </div>


    

   </ion-item>
  </div>
 </ion-list>
</div>

</ion-content>
</ion-view>
