<ion-view view-title="Ticket Status" style="text-align:center">
    <style>
        .list {
            position: relative;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 0;
            margin: -15px -28px 0 -55px;
        }
    </style>
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>    
      

      
<div class="im-card" style="width:98%;padding:0 !important;margin: 15px 0 -11px 0 !important;margin-left: 1% !important;">
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >            
          <div class="col" style="background-color: #ff9900; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">
                <a href="#/app/track-ticket-details" style="text-decoration: none; color:#fff !important">QUEUED</a>
            </div>
    </div>
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >        
        <div class="col" style="background-color: #0066cc; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">ACCEPTED</div>
    </div>
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >   
        <div class="col" style="background-color: #999933; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">COMMENCED</div>
    </div>
    
    <div style="clear: both"></div>
        <div class="row" style="    padding: 5px 10px; font-size:10pt;" >            
        <div class="col" style="background-color: #ff0000; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">PAUSED</div>
    </div>
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >   
        <div class="col" style="background-color: #91af11; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">RESOLVED</div>
    </div>
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >   
        <div class="col" style="background-color: #99cc00; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">DISMISSED</div>
    </div>
    <div style="clear: both"></div>
    <div style="clear: both"></div>
    <div class="row" style="    padding: 5px 10px; font-size:10pt;" >            
    <div class="col" style="background-color: #171515; text-align: center; color:#fff; border-radius:3px;padding: 5px 0;margin:2px">REOPEN</div>
</div>
<div style="clear: both"></div>
   
       

        

            
    </div>


    
              
                
          
  </ion-content>
</ion-view>