<ion-view view-title="Ticket Details" style="text-align:center">
    <style>
        .list {
            position: relative;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 0;
            margin: -15px -28px 0 -55px;
        }
    </style>
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>    
      

      
    <div class="im-card" style="width:98%;padding:0 !important;margin: 15px 0 -11px 0 !important;margin-left: 1% !important;">
        <div class="row" style="padding: 0px 10px; font-size:10pt;" >
            <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;text-align: left;" >1070</div>  
            <div class="col">06-Sep-17</div>
            <div class="col" style="text-align: right">
            <a href="#/app/ticket-status" style="text-decoration: none; color:#fff !important"> <span style="background-color: #7cb021; text-align: center; color:#fff; border-radius:3px;padding: 2px 5px;">Closed</span></a>
            </div>
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt; border-bottom:dotted 1px #ccc" >
            <div class="col " style="padding-top: 10px;    text-align: left;" >I need Wifi Access for mobile, Please do the needful. It's pretty urgent</div>  
        </div>

        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Assigned to</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>Srikanta Tripati</b></div>  
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Raised By</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>Manjunath.Ramesh</b></div>  
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Raised On</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>21-Jun-2017</b></div>  
        </div>

        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Estimated Date</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>23-Jun-2017</b></div>  
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Priority</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>Critical</b></div>  
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Category</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>2Local Servers</b></div>  
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt;border-bottom:dotted 1px #ccc" >
            <div class="col" style="padding-top: 10px;    text-align: left;" >Modified By</div>  
            <div class="col" style="padding-top: 10px;    text-align: left;" ><b>Srikanta Tripathy</b></div>  
        </div>

        
        <div class="row" style="padding: 15px 0;">
            <div class="today-followupbtn col">Click to Capture</div>
            <div class="today-followupbtn col" type="file">Click to Attach</div>
        </div>

        <div class="row">
                <label class="item item-input">
                    <textarea placeholder="Description" style="color: blue; border: none;" name="notes" data-notes="" ng-model="notes" class="ng-pristine ng-valid ng-empty ng-touched"></textarea>
                </label>
            </div>
            
    </div>


    
              
                
          
  </ion-content>
</ion-view>