<ion-view view-title=" Track Ticket " style="text-align:center">
    <style>
        .list {
            position: relative;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 0;
            margin: -15px -28px 0 -55px;
        }
    </style>
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" ></ion-refresher>    
      

    <a href="#/app/track-ticket-details" style="text-decoration: none"> 
    <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 15px 0 -11px 0 !important;margin-left: 1% !important;">
        <div class="row" style="padding: 0px 10px; font-size:10pt;" >
            <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;text-align: left;" >1070</div>  
            <div class="col">06-Sep-17</div>
            <div class="col" style="text-align: right">
             <span style="background-color: #7cb021; text-align: center; color:#fff; border-radius:3px;padding: 2px 5px;">Closed</span>
            </div>
        </div>
        <div class="row" style="padding: 0px 10px; font-size:10pt;" >
            <div class="col Saleste_ellipsis_text" style="padding-top: 10px;    text-align: left;" >I need Wifi Access for mobile, Please do the needful.</div>  
        </div>
    </div>
    </a>

    <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 15px 0 -11px 0 !important;margin-left: 1% !important;">
            <div class="row" style="padding: 0px 10px; font-size:10pt;" >
                <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;text-align: left;" >1050</div>  
                <div class="col">26-Aug-17</div>
                <div class="col" style="text-align: right">
                 <span style="background-color: #7cb021; text-align: center; color:#fff; border-radius:3px;padding: 2px 5px;">Closed</span>
                </div>
            </div>
            <div class="row" style="padding: 0px 10px; font-size:10pt;" >
                <div class="col Saleste_ellipsis_text" style="padding-top: 10px;    text-align: left;" >Finger print access sometime is not working and still my swipe card not activated.</div>  
            </div>
        </div>
        <a href="#/app/track-ticket-details-resolved" style="text-decoration: none"> 
        <div class="collapse-view im-card" style="width:98%;padding:0 !important;margin: 15px 0 -11px 0 !important;margin-left: 1% !important;">
                <div class="row" style="padding: 0px 10px; font-size:10pt;" >
                    <div class="col col-50 collapse-text-head Saleste_ellipsis_text" style="padding-top: 5px;text-align: left;" >1040</div>  
                    <div class="col">06-Aug-17</div>
                    <div class="col" style="text-align: right">
                     <span style="background-color: #91af11; text-align: center; color:#fff; border-radius:3px;padding: 2px 5px;">Resolved</span>
                    </div>
                </div>
                <div class="row" style="padding: 0px 10px; font-size:10pt;" >
                    <div class="col Saleste_ellipsis_text" style="padding-top: 10px;text-align: left;" >I can't able to login the server, We have some web site changes, please resolve this issue as soon as possible.</div>  
                </div>
            </div>
        </a>
    
              
                
          
  </ion-content>
  <div class="ad-btn"><a href="#/app/new-ticket-create"><img src="img/ad.png" /></a></div>
</ion-view>